@font-face {
    font-family: second;
    src: url("../assets/Josefin_Sans/JosefinSans-VariableFont_wght.ttf");
}

.pads-container {
    border-right: 23px solid #e955e5;
    border-radius: 10px;
    border-left: 23px solid #e955e5;
    margin: 30px 0 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 70%;
    padding: 20px;
    background-color: #000000;

    .title-container {
        margin: 0% 5% 1% 5%;
        width: 100%;
        text-align: center;
        color: #00ffb0;
        .mpc-title {
            font-family: second;
            font-weight: 900;
            font-size: 40px;
        }
    }
    .btn-warp {
        margin: 0 0 20px 0;
        background-color: whitesmoke;
        width: 150px;
        height: 150px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        .pad-button {
            background-color: #eeecec;
            border: none;
            width: 120px;
            height: 120px;
            border-radius: 5px;
        }
        .pad-button:focus {
            transform: scale(0.97);
        }
        .pad-button:hover {
            cursor: pointer;
        }
    }
    .demoObject {
        -webkit-box-shadow: 0px 2px 7px -3px rgba(79, 79, 79, 0.65);
        box-shadow: 0px 2px 7px -3px rgba(79, 79, 79, 0.65);
        background: #ffffff;
    }
    .play-hover {
        color: black;
        width: 50px;
        position: absolute;
        /* bottom: 79%; */
        margin-top: -31px;
        background-color: #aeaeae;
        padding: 2px;
        border-radius: 4px;
        font-size: 11px;
        opacity: 0.9;
        display: none;
    }
    .play-btn:hover{
        .play-hover{
            display: block;
        }
    }
    .session-hover {
        color: black;
        transform: rotateY(180deg);
        position: absolute;
        bottom: 100%;
        background-color: #aeaeae;
        padding: 2px;
        border-radius: 4px;
        font-size: 11px;
        opacity: 0.9;
        display: none;
    }
    .play-session-btn:hover {
        .session-hover {
            display: block;
        }
    }
}
